<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="./css/jquery.gridster.css" />
    <link rel="stylesheet" href="./css/react-grid.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/jquery.gridster.js"></script>

  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript" src="./js/bundle.js"></script>



  </body>
</html>
