// Base font
$base-font-scale: 1;  // The font scale multiplier (e.g. 2 = 32px/2em/2rem)
$base-font-pixel: 16; // Used for font size calculations & conversions
$base-font-colour: #666666;
$base-highlight-colour: #404040;

// Selection highlighting
$content-selection-highlight: #b3d4fc;


//Margins
$standard-vertical-spacing: 1em;
$standard-padding:1em;


//Background
$primary-background-color:#D3D3D3;
